.light {
  background-color: white;
  color: black;
  min-height: 100vh;
  text-align: center;
  padding-top: 50px;
}

.dark {
  background-color: black;
  color: white;
  min-height: 100vh;
  text-align: center;
  padding-top: 50px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #2196F3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}